header, nav{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: double;
  border-width: 10px;
}
.logo{
  height: 50px;
  float: left;
}
header{
  background-color: #A3F399;
  border-color: #1CAA09;
  height: 100px;
}
nav{
  background-color: #89F1F0;
  border-color: #0B2B9E;
  height: 30px;
}
h1{
  font-size: 50px;
  font-style: italic;
}
a{
  font-size: 20px;
  font-style: oblique;
}
#li1{
  font-style: italic;
  font-family: arial;
  background-color: #989898;
}
#li2{
  font-style: normal;
  font-family: Times;
  background-color: #D0D09D;
}
#li3{
  font-style: oblique;
  font-family: sans-serif;
  background-color: #D0A29D;
}
a{
  display: inline-block;
  background-color: #D590D4;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration-color: #EC1DEB;
  text-decoration-style: wavy;


}
a:hover{
  text-decoration-style: dotted;
  text-decoration-color: #C75074;
}

ul{
  font-style: italic;
  font-size: 20px;
}

#e1{
  list-style-type: lower-roman;
}
#e2{
  list-style-type: square;
}
#e3{
  list-style-type: lower-greek;
}
#e4{
  list-style-type: armenian;
}
