body{
  background-image: url("../image/fondoWeb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

h2{
  background-color: #F6C3CE;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  color: #000;
}

h3{
  background-color: #F6C3CE;
  margin: 1%;
  padding: 1%;
  margin-right: 1100px;
  margin-left: 150px;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color:black;
  color: #000;
  width: 500px;
}

h1{
  margin-top: 50px;
}

ul {
  list-style:none;
  margin: 20px;
  margin-left: 150px;
}

ul li{
  background-color: #7402C0;
  position: relative;
  float: left;
  border: 2px;
  margin-right: 10px;
  border-color: black;
  border-style: solid;
    border-radius: 10px;
}

ul a{
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul li:hover {
  background-color: #3F0267;
}

#k{
  display: inline-block;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #F6C3CE;
    width: 500px;
}

#k:hover{
    background-color: #EF8686;
}

p{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 1000px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: black;
  word-spacing: 2px;
  font-family: serif;
    margin-left: 150px;
}

#titol{
  background-color: #7402C0;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color:black;
  color: #fff;
}
