div{
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: #A4F1D7;
  padding-top: 80px;
  text-align: center;
  border-width: 5px;
  transition-duration: 1s;
  border-style: solid;
}
#div1{
  border-radius: 10px;
  background-image: repeating-radial-gradient(green, #57EAB9);
}
#div1:hover{
  border-radius: 100px;
  background-image: repeating-radial-gradient(#57EAB9, green);
}
#div2{
  border-radius: 30px 0px 30px 0px;
  background-image: repeating-linear-gradient(black, white);
}
#div2:active{

}
#div3{
  border-radius: 0px 30px 0px 30px;
  background-image: radial-gradient(white, magenta);
}
#div4{
  border-radius: 50px 50px 50px 50px;
  background-image: repeating-radial-gradient(white, green 10%);
}
#div5:hover{
  transform: translate(20px, 30px);
}
#div5:active{
  background-color: magenta;
}
#div6{

}
#div6:hover{
  transform: translate(100px, 100px);
}
#div7{

}
#div7:hover{
  transform: rotate(90deg);
}
#div8{

}
#div8:hover{
  transform: scale(0.5,0.5);
}
#div9{

}
#div9:hover{
  transform: skewX(45deg);
  transform: skewY(45deg);
}
