*{
  font-family: arial;
  font-variant: small-caps;
  font-style: italic;
  font-size: 30px;
  color: black;
}

html{
  background-color: pink;
  background-image: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/australia/Quokka_Sam-West.jpg?crop=0,1152,2365,1241&wid=1200&hei=630&scl=1.9708333333333334");
  background-attachment: scroll;
  background-repeat: no-repeat;
  text-align: justify;
  line-height: 20px;
  letter-spacing: 10px;
  word-spacing: 25px;
}

.otraclase1{
  display: inline;
  width: 10px;
}

.otraclase2{
  display: inline;
  width: 50px;
}

.otraclase3{
  display: inline;
  width: 100px;
}

.clase1{
  display: inline;
}

.clase2{
  display: block;
}

.clase3{
  display: inline-block;
}

a{
  display: block;
  height: 200px;
  width: 200px;
  font-size: 50px;
}

h1{
  color: blue;
}

.dreta{
  float: right;
}
.esquerra{
  float: left;
}
